<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color: #547a82;background-image: url(&quot;none&quot;);">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon"><img src="assets/img/logo.png" style="max-width: 80px;"></div>
                    <div class="sidebar-brand-text mx-3"><span>Quản Trị</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="product.html"><i class="fas fa-table"></i><span>Sản Phẩm</span></a><a class="nav-link" href="detail.html"><i class="fas fa-info-circle"></i><span>Chi Tiết</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="Banner.html"><i class="far fa-image"></i><span>Hình Banner</span></a><a class="nav-link" href="news.html"><i class="fas fa-pen-alt"></i><span>Bài Viết</span></a><a class="nav-link active" href="search.html"><i class="fas fa-search"></i><span>Tìm Kiếm</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                            action="ad/search" method="get">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." name="keyword">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">shopwheydanang</span><img class="border rounded-circle img-profile" src="assets/img/shop-whey-da-nang.png"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <a
                                            class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </li>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <section>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow my-2">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Danh Sách Sản Phẩm<br></p>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                                <table class="table dataTable my-0" id="dataTable">
                                                    <tbody>
                                                        <tr>
                                                            <td>BSN Syntha 6 EDGE 4 Lb</td>
                                                            <td>1.300.000</td>
                                                            <td>1200.000</td>
                                                            <td><a href="#"><i class="fa fa-pencil"></i></a><a class="text-danger ml-5" href="#"><i class="fa fa-trash-o"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="row">
                                <div class="col">
                                    <form method="get" enctype="multipart/form-data" action="ad/saveProduct">
                                        <div class="card shadow my-2">
                                            <div class="card-header d-flex justify-content-between align-items-center">
                                                <p class="m-0 font-weight-bold text-primary">Thêm Sản Phẩm</p>
                                                <div class="form-row">
                                                    <div class="col-auto"><button class="btn btn-primary btn-sm my-1" type="submit"><i class="fa fa-save"></i>&nbsp;Lưu &amp; Tiếp Tục</button></div>
                                                </div>
                                            </div>
                                            <div class="card-body"><input class="form-control form-control border-0 small bg-light mb-3" type="text" placeholder="Tên sản phẩm" name="name"><input class="form-control form-control border-0 small bg-light mb-3" type="number" placeholder="Giá"
                                                    name="price"><input class="form-control form-control border-0 small bg-light mb-3" type="number" placeholder="Giá ưu đãi" name="sale">
                                                <p class="font-weight-bold text-primary">Chọn hình ảnh</p><input type="file" name="upload"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Loa Loa Media 2019</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>