<div class="text-center" data-bs-parallax-bg="true"
    style="background-image: url(&quot;/assets/img/activity-body-builder-bodybuilder-669576.jpg&quot;);background-position: center;background-size: cover;">
    <img class="pulse animated infinite" src="/assets/img/shop-whey-da-nang.png"
        style="height: 100px;margin-top: 40px;margin-bottom: 20px;">
    <h1 class="display-4" data-aos="fade-down" data-aos-duration="1500" style="font-weight: 800;">Shop Whey Đà Nẵng
        <br>
    </h1>
    <h4 data-aos="fade-down" data-aos-delay="100">Chuyên phân phối, bán lẻ các loại thực phẩm bổ sung<br>
    </h4>
    <div class="container">
        <div class="row">
            <div class="col text-center" data-aos="fade-down" data-aos-duration="800">
                <i class="fa fa-check bg-white border rounded-circle"
                    style="font-size: 30px;padding: 10px;margin: 20px;">
                </i>
                <h5>UY TÍN &amp; CHẤT LƯỢNG</h5>
                <hr>
                <p>Là chuỗi cửa hàng uy tín, lâu năm số 1 Việt Nam. Chúng tôi cam kết tất cả sản phẩm đều là hàng chính
                    hãng 100%</p>
            </div>
            <div class="col text-center" data-aos="fade-down" data-aos-duration="1000">
                <i class="fa fa-trophy bg-white border rounded-circle"
                    style="font-size: 30px;padding: 10px;margin: 20px;">
                </i>
                <h5>CHUYÊN GIA DINH DƯỠNG</h5>
                <hr>
                <p>Chúng tôi là chuyên gia dinh dưỡng, tư vấn về chế độ tập luyện, chế độ dinh dưỡng và cách sử dụng sản
                    phẩm để đạt hiệu quả tốt nhất</p>
            </div>
            <div class="col text-center" data-aos="fade-down" data-aos-duration="800">
                <i class="fa fa-money bg-white border rounded-circle"
                    style="font-size: 30px;padding: 10px;margin: 20px;">
                </i>
                <h5>GIÁ CẢ HỢP LÝ</h5>
                <hr>
                <p>Cung cấp các loại thực phẩm bổ sung, dinh dưỡng thể thao: Whey protein, Mass Gainer, Bcaas, Amino...
                    Với giá cả phải chẳng, hợp lí</p>
            </div>
        </div>
    </div>
    <a class="btn btn-outline-dark btn-sm text-uppercase text-center bg-white border rounded-0 action-button"
        role="button" data-aos="fade-up" data-aos-delay="200" href="https://www.facebook.com/shopwheydanang"
        style="background-color: rgba(0,0,0,0);color: #313437;height: 40;margin-top: 20px;margin-bottom: 40px;"
        target="_blank">
        <i class="fa fa-facebook-square">

        </i>&nbsp; xem trang facebook&nbsp;</a>
</div>