<div id="category" style="margin-bottom: 20px;">
    <div class="container" data-aos="-out">
        <div style="text-align:center;">
            <h2 class="divider-style" style="margin-bottom: 60px;"><span>DANH MỤC SẢN PHẨM<br></span></h2>
        </div>
    </div>
    <div class="container" data-aos="fade-up">
        <div
            class="row d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-lg-center align-items-lg-center justify-content-xl-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse"
                        style="margin-bottom: 20px;margin-top: 20px;">
                        <a href="/danh-muc/tang-co-giam-mo">
                            <div>
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                    style="height: 200px;"><img src="/assets/img/e7b436679e464ead92e785d46baab1ed.jpg"
                                        style="max-width: 134px;"></div>
                                <hr>
                                <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start"
                                    style="height: 50px;">
                                    <p class="text-center" style="margin-bottom: 0;">Phát Triển Cơ - Whey Protein</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse"
                        style="margin-bottom: 20px;margin-top: 20px;">
                        <a href="/danh-muc/tang-can-tang-co">
                            <div>
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                    style="height: 200px;"><img src="/assets/img/816nZzmF6NL._SY450_.jpg"
                                        style="max-width: 134px;"></div>
                                <hr>
                                <div class="text-center d-lg-flex d-xl-flex align-items-lg-start justify-content-xl-center align-items-xl-start"
                                    style="height: 50px;">
                                    <p class="text-center" style="margin-bottom: 0;">Sữa Tăng Cân - Mass Giainer</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse"
                        style="margin-bottom: 20px;margin-top: 20px;">
                        <a href="/danh-muc/tang-suc-manh">
                            <div>
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                    style="height: 200px;"><img src="/assets/img/cb49b0da641248de8aa210a268aca42c.png"
                                        style="max-width: 134px;"></div>
                                <hr>
                                <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start"
                                    style="height: 50px;">
                                    <p class="text-center" style="margin-bottom: 0;">Tăng Sức Mạnh - Prework-out</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse"
                        style="margin-bottom: 20px;margin-top: 20px;">
                        <a href="/danh-muc/dot-mo">
                            <div>
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                    style="height: 200px;"><img src="/assets/img/c35ac28c49df4ea58c4c460f2228a8d6.jpeg"
                                        style="max-width: 134px;"></div>
                                <hr>
                                <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start"
                                    style="height: 50px;">
                                    <p class="text-center" style="margin-bottom: 0;">Giảm Cân, Đốt Mỡ</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse"
                        style="margin-bottom: 20px;margin-top: 20px;">
                        <a href="/danh-muc/phuc-hoi-co,-bo-khop,-amino">
                            <div>
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                    style="height: 200px;"><img src="/assets/img/89540ba82e06450db0d3d9ac29e184e9.png"
                                        style="max-width: 134px;"></div>
                                <hr>
                                <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start"
                                    style="height: 50px;">
                                    <p class="text-center" style="margin-bottom: 0;">Amino, Bcaa, Bổ khớp</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse"
                        style="margin-bottom: 20px;margin-top: 20px;">
                        <a href="/danh-muc/vitamin,-khoang-chat,-hormone">
                            <div>
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                    style="height: 200px;"><img src="/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg"
                                        style="max-width: 134px;"></div>
                                <hr>
                                <div class="text-center d-lg-flex d-xl-flex align-items-lg-start justify-content-xl-center align-items-xl-start"
                                    style="height: 50px;">
                                    <p class="text-center" style="margin-bottom: 0;">Vitamin, Khoáng Chất, Tăng Hormone
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse"
                        style="margin-bottom: 20px;margin-top: 20px;">
                        <a href="/danh-muc/thuc-pham-an-kieng">
                            <div>
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                    style="height: 200px;"><img src="/assets/img/2099664d7dd840a499442bb61382888b.jpeg"
                                        style="max-width: 134px;"></div>
                                <hr>
                                <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start"
                                    style="height: 50px;">
                                    <p class="text-center" style="margin-bottom: 0;">Thực Phẩm Ăn Kiêng - Clean Eat</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse"
                        style="margin-bottom: 20px;margin-top: 20px;">
                        <a href="/danh-muc/phu-kien:-ao,-balo,-shaker...">
                            <div>
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                    style="height: 200px;"><img src="/assets/img/ao.jpeg" style="max-width: 134px;">
                                </div>
                                <hr>
                                <div class="text-center d-xl-flex justify-content-xl-center align-items-xl-start"
                                    style="height: 50px;">
                                    <p class="text-center d-lg-flex align-items-lg-start" style="margin-bottom: 0;">Phụ
                                        Kiện...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col" id="categoryEvent" style="padding: 0;">

                    </div>
                </div>
            </div>
            <script>


                var categoryEvent = new XMLHttpRequest();
                categoryEvent.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var docs = JSON.parse(this.response);
                        if (docs.data && docs.data.length) {
                            let htmlCagoryEvent = '';
                            docs.data.forEach(event => {
                                var now = new Date();
                                now.setTime(now);
                                if (Date.parse(event.start) < now && now < Date.parse(event.end)) {
                                    let html = event.title.replace(/ /g, '-');
                                    let image = event.image;
                                    htmlCagoryEvent += `<a href="/su-kien/${html}">
                                        <img
                                    style="width: 100%;" src="${image}">
                                    </a>
                                    `
                                }
                            })
                            document.getElementById('categoryEvent').innerHTML = htmlCagoryEvent;
                        }
                    }
                };
                categoryEvent.open("POST", "/public/categoryEvent/event/type/event", true);
                categoryEvent.send(); 
            </script>
        </div>
    </div>
</div>