<div class="list-group">
        <a class="list-group-item list-group-item-action disabled border rounded-0 border-myColor" href="/">
                <span class="text-uppercase text-myColor">DANH MỤC</span>
        </a>

        <%categorys.forEach(cgr =>{
                if (cgr.name == 'category') {
                        %>
        <a class="list-group-item list-group-item-action border rounded-0 duration"
                href="/catalog/<%=cgr._id%>"><span><%=cgr.content%></span>
        </a>
        <%}})%>
</div>