<div class="container d-flex">
    <aside class="list col-xl-3 col-md-3 col-sm-3 col-lg-3">
        <div class="list-top">
            <h3>
                Danh Mục Sản Phẩm
            </h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Phát Triển Cơ - Whey Protein</a>
                <a href="#" class="list-group-item list-group-item-action">Sữa Tăng Cân- Mass Giainer</a>
                <a href="#" class="list-group-item list-group-item-action">Tăng Sức Mạnh- Prework-out</a>
                <a href="#" class="list-group-item list-group-item-action">Giảm Cân,Đốt Mỡ</a>
                <a href="#" class="list-group-item list-group-item-action">Amino, Bcaa, Bổ Khớp</a>
                <a href="#" class="list-group-item list-group-item-action">Vitamin, Khoáng Chất, Tăng Hormone</a>
                <a href="#" class="list-group-item list-group-item-action">Thực Phẩm Ăn Kiêng - Clean Eat</a>
                <a href="#" class="list-group-item list-group-item-action">Phụ Kiện..</a>
            </div>
        </div>
        <div class="list-botom">
            <h3>
                Cách Chọn Sản Phẩm
            </h3>
            <div class="list-content">
                <h4>
                    Khung Giá
                </h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Dưới 500.000đ</a>
                    <a href="#" class="list-group-item list-group-item-action">500.000đ-1.000.000đ</a>
                    <a href="#" class="list-group-item list-group-item-action">Trên 1.000.0000đ</a>
                </div>
                <h4>
                    Thương Hiệu
                </h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Rule one</a>
                    <a href="#" class="list-group-item list-group-item-action">Dymatize</a>
                    <a href="#" class="list-group-item list-group-item-action">Mc Cormick</a>
                    <a href="#" class="list-group-item list-group-item-action">Optimum nutrition</a>
                    <a href="#" class="list-group-item list-group-item-action">>> More</a>
                </div>
                <h4>
                    Tính Năng
                </h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Cải thiện sức khỏe</a>
                    <a href="#" class="list-group-item list-group-item-action">Phục hồi cơ bắp</a>
                    <a href="#" class="list-group-item list-group-item-action">Xây dựng cơ bắp</a>
                    <a href="#" class="list-group-item list-group-item-action">Muscle Recovery</a>
                    <a href="#" class="list-group-item list-group-item-action">>> More</a>
                </div>
            </div>
        </div>
    </aside>
    <section class="col-xl-9 col-md-9 col-sm-9 col-lg-9">
        <div class="sanpham">
            <div class="tren">
                <div class="anh">
                    <img src="public/assets/img/1.jpg" alt="" class="layer1">
                    <img src="" alt="" class="layer2">
                    <div class="congcu">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-undo-alt"></i>
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <h3 class="tensanpham">
                    Áo len-stye coat
                </h3>
            </div>

            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        $25
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">select option</span>
                    </div>
                </div>
                <div class="phai">
                    <div class="mauxanh"></div>
                    <div class="mauxanh"></div>
                </div>
            </div>
        </div>

    </section>
</div>