<div class="list-group">
    <a class="list-group-item list-group-item-action disabled border rounded-0 border-myColor duration">
        <span class="text-uppercase text-myColor">Thương Hiệu</span></a>
    <%categorys.forEach(cgr =>{
            if (cgr.name == 'brand') {
                    %>
    <a class="list-group-item list-group-item-action border rounded-0 duration"
        href="/catalog/<%=cgr._id%>"><span><%=cgr.content%></span>
    </a>
    <%}})%>
    <a class="list-group-item list-group-item-action disabled border rounded-0 border-myColor" href="/"><span
            class="text-uppercase text-myColor">Chức Năng</span></a>
    <%categorys.forEach(cgr =>{
                if (cgr.name == 'function') {
                        %>
    <a class="list-group-item list-group-item-action border rounded-0 duration"
        href="/catalog/<%=cgr._id%>"><span><%=cgr.content%></span>
    </a>
    <%}})%>
</div>
<div class="fb-page" data-href="https://www.facebook.com/shopwheydanang/" data-tabs="timeline" data-width=""
    data-height="1000px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
    data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/shopwheydanang/" class="fb-xfbml-parse-ignore"><a
            href="https://www.facebook.com/shopwheydanang/">Shop Whey Đà Nẵng</a></blockquote>
</div>