<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 col-3">
            <h3 class="title">
                Chính sách
            </h3>
            <ul class="list-group mxh">
                <li>Hình thức vận chuyển</li>
                <li>Hình thức thanh toán</li>
                <li>Trả hàng, đổi hàng</li>
                <li class="">
                    <a href="#">
                        <img src="/assets/img/iconmxh/fb.png" alt="">
                        Fb Shop Whey Đà Nẵng</a>
                </li>
                <li class="mxh">
                    <a href="#"><img src="/assets/img/iconmxh/za.png" alt=""> Zalo Shop Whey Đà Nẵng</a>
                </li>
                <li class="mxh">
                    <a href="#"><img src="/assets/img/iconmxh/yo.png" alt=""> Youtube Shop Whey Đà Nẵng</a>
                </li>
                <li class="mxh">
                    <a href="#"><img src="/assets/img/iconmxh/vi.png" alt=""> Viber Shop Whey Đà Nẵng</a>
                </li>
                <li class="mxh">
                    <a href="#"><img src="/assets/img/iconmxh/ga.png" alt=""> Gmail Shop Whey Đà Nẵng</a>
                </li>
                <li class="mxh">
                    <a href="#"><img src="/assets/img/iconmxh/in.png" alt=""> Instagram Shop Whey Đà Nẵng</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 col-3">
            <h3 class="title">
                Mua Hàng tại shop
            </h3>
            <ul class="list-group mxh">
                <li class="mxh">
                    <a href="#"> 100% hàng chính hãng</a>
                </li>
                <li class="mxh">
                    <a href="#">Chúng tôi là chuyên gia dinh dưỡng, tư vấn về chế độ tập luyện, chế độ dinh dưỡng và
                        cách sử dụng sản phẩm để đạt hiệu quả tốt nhất</a>
                </li>
                <li class="mxh">
                    <a href="#">Uy tín, nhiệt tình, niềm nở với khách hàng</a>
                </li>
                <li class="mxh">
                    <a href="#">Giá cả phải chăng, hợp lí</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6">
            <h3 class="title">
                Shop Whey Đà Nẵng
            </h3>
            <ul class="list-group mxh">
                <li>Chuỗi cửa hàng cung cấp thực phẩm bổ sung, dinh dưỡng thể thao: Whey protein, Mass Gainer, Bcaas,
                    Amino... Uy tín, lâu năm số 1 Việt Nam.</li>
                <hr>
                <li>Địa Chỉ: 113 Phan Châu Trinh, Phước Ninh, Hải Châu, Đà Nẵng</li>
                <li>Số điện thoại: 0905 586 577 - 0773 502 200</li>
                <hr>
                <li>
                    <i class="far fa-clock"></i>
                    Mở cửa 8:00 đến 21:00 hằng ngày
                </li>
            </ul>
        </div>
        <span class="col-xl-12 col-md-12 col-sm-12 col-lg-12 col-12 text-center">Coppyright © 2019</span>
    </div>
</div>