<footer>
    <div class="container-fluid">
        <div class="row my-4 py-5 px-4">
            <div class="col-6 item">
                <h5 class="text-uppercase text-myColor">mua hàng tại shop</h5>
                <p class="text-justify text-light">100% hàng chính hãng<br><br>Chúng tôi là chuyên gia dinh dưỡng,
                    tư vấn về chế độ tập luyện, chế độ dinh dưỡng và cách sử dụng sản phẩm để đạt hiệu quả tốt
                    nhất<br><br>Uy tín, nhiệt tình, niềm nở với khách hàng&nbsp;<br><br>Giá cả phải
                    chăng, hợp lí<br></p>
            </div>
            <div class="col-6 item text">
                <h5 class="text-uppercase text-myColor">shopwheydanang.com</h5>
                <p class="text-justify text-light">Chuỗi cửa hàng cung cấp thực phẩm bổ sung, dinh dưỡng thể thao:
                    Whey protein, Mass Gainer, Bcaas, Amino... Uy tín, lâu năm số 1 Việt Nam.<br><br>113 Phan Châu
                    Trinh, Phước Ninh, Hải Châu, Đà Nẵng |&nbsp;0905 586 577 - 0773 502 200<br><br>Mở
                    cửa 8:00 đến 21:00 hằng ngày<br></p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script>

    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
    $(document).ready(function () {
        $("[data-bs-hover-animate]").mouseenter(function () {
            var t = $(this);
            t.addClass("animated " + t.attr("data-bs-hover-animate"))
        }).mouseleave(function () {
            var t = $(this);
            t.removeClass("animated " + t.attr("data-bs-hover-animate"))
        })

        var id = $('#detailName').attr('name')
        if (id) {
            $.get(
                '/getDetail/' + id,
                (data, status, jq) => {
                    if (data.attributes.taste.data.length) {
                        $('#attributesArea').append(`<h6 class="text-myColor">MÙI</h6>`)
                        data.attributes.taste.data.forEach(attr => {
                            $('#attributesArea').append(`<p class="text-secondary">${attr}</p>`)
                        })
                    }
                    if (data.attributes.brand.data.length) {
                        $('#attributesArea').append(`<h6 class="text-myColor">THƯƠNG HIỆU</h6>`)
                        data.attributes.brand.data.forEach(attr => {
                            $('#attributesArea').append(`<p class="text-secondary">${attr}</p>`)
                        })
                    }
                    if (data.attributes.function.data.length) {
                        $('#attributesArea').append(`<h6 class="text-myColor">CHỨC NĂNG</h6>`)
                        data.attributes.function.data.forEach(attr => {
                            $('#attributesArea').append(`<p class="text-secondary">${attr}</p>`)
                        })
                    }
                    if (data.attributes.category.data.length) {
                        $('#attributesArea').append(`<h6 class="text-myColor">DANH MỤC</h6>`)
                        data.attributes.category.data.forEach(attr => {
                            $('#attributesArea').append(`<p class="text-secondary">${attr}</p>`)
                        })
                    }
                    console.log(data)
                    if (data.informations.description.html) {
                        $('#informationsArea').append(`<h6 class="text-uppercase text-myColor">Mô Tả</h6>`)
                        $('#informationsArea').append(data.informations.description.html)
                    }
                    if (data.informations.detail.html) {
                        $('#informationsArea').append(`<h6 class="text-uppercase text-myColor">Chi Tiết</h6>`)
                        $('#informationsArea').append(data.informations.detail.html)
                    }
                    if (data.informations.guide.html) {
                        $('#informationsArea').append(`<h6 class="text-uppercase text-myColor">Hướng Dẫn</h6>`)
                        $('#informationsArea').append(data.informations.guide.html)
                    }

                }
            )
        }
        $('.moreImage').click(function () {
            document.getElementById('mainImage').src = this.getAttribute("src")
        })

        if (location.pathname.slice(1, 8) == "catalog") {
            $.get(
                '/getProductByAttribute/' + location.pathname.slice(9, location.pathname.length),
                (data, status, jq) => {
                    if (data && data.data && data.data.length) {
                        data.data.forEach(product => {
                            var { name, price, sale, images, _id } = product
                            var whitePrice = formatMoney(price, 0)
                            var secondaryPrice = ''
                            if (sale) {
                                whitePrice = formatMoney(sale, 0)
                                if (price) secondaryPrice = formatMoney(price, 0)
                            }

                            $('#showBox').append(`
                        <div class="col-md-6 col-lg-4 p-2">
                                <a href="/">
                                    <div class="bg-dark p-3"><img class="w-100"
                                            src="${data.storeUri + images[0]}">
                                        <div class="productBasis">
                                            <p class="text-center p-0 m-0 text-myColor">${name}</p>
                                            <h6 class="text-center text-white">${whitePrice}</h6>
                                            <h6 class="text-center text-secondary oldPrice">${secondaryPrice}</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        `)
                        })
                    } else {
                        $('#showBox').append(`
                        <p class="text-myColor">Không Tìm Thấy Sản Phẩm!</p>
                        `)
                    }

                }
            )
        }
        $('#searchArea').keydown(function () {
            $('#resultArea').append(`<div class="row">${this.value}</div>`)
            var height = $('#resultArea').attr(height) + 24
            console.log(height)
        })
        $('main').click(function () {
            console.log('ok')
            $('#resultArea').removeData()
        })
    }), $(function () {
        new Swiper(".swiper-container", {
            loop: !0,
            pagination: ".swiper-pagination",
            paginationClickable: !0,
            nextButton: ".swiper-button-next",
            prevButton: ".swiper-button-prev"
        })
    });
</script>