<footer>
    <div class="container-fluid">
        <div class="row my-4 py-5 px-4">
            <div class="col-6 item">
                <h5 class="text-uppercase text-myColor">mua hàng tại shop</h5>
                <p class="text-justify text-light">100% hàng chính hãng<br><br>Chúng tôi là chuyên gia dinh dưỡng,
                    tư vấn về chế độ tập luyện, chế độ dinh dưỡng và cách sử dụng sản phẩm để đạt hiệu quả tốt
                    nhất<br><br>Uy tín, nhiệt tình, niềm nở với khách hàng&nbsp;<br><br>Giá cả phải
                    chăng, hợp lí<br></p>
            </div>
            <div class="col-6 item text">
                <h5 class="text-uppercase text-myColor">shopwheydanang.com</h5>
                <p class="text-justify text-light">Chuỗi cửa hàng cung cấp thực phẩm bổ sung, dinh dưỡng thể thao:
                    Whey protein, Mass Gainer, Bcaas, Amino... Uy tín, lâu năm số 1 Việt Nam.<br><br>113 Phan Châu
                    Trinh, Phước Ninh, Hải Châu, Đà Nẵng |&nbsp;0905 586 577 - 0773 502 200<br><br>Mở
                    cửa 8:00 đến 21:00 hằng ngày<br></p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script src="assets/js/script.min.js"></script>