<div class="footer-dark">
    <footer data-aos="slide-right">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Chính sách</h3>
                    <ul>
                        <li>Hình thức vận chuyển</li>
                        <li>Hình thức thanh toán</li>
                        <li>Trả hàng, đổi hàng</li>
                        <li class="d-xl-flex align-items-xl-center"><img src="/assets/img/facebook-flat-vector-logo.png"
                                style="width: 30px;margin-right: 5px;"><a href="#">Shop Whey Đà Nẵng</a></li>
                        <li class="d-xl-flex align-items-xl-center"><img src="/assets/img/32472863.png"
                                style="width: 30px;margin-right: 5px;"><a href="#">Shop Whey Đà Nẵng</a></li>
                        <li class="d-xl-flex align-items-xl-center"><img src="/assets/img/unnamed.png"
                                style="width: 30px;margin-right: 5px;"><a href="#">Shop Whey Đà Nẵng</a></li>
                        <li class="d-xl-flex align-items-xl-center"><img src="/assets/img/youtube.png"
                                style="width: 30px;margin-right: 5px;"><a href="#">Shop Whey Đà Nẵng</a></li>
                        <li class="d-xl-flex align-items-xl-center"><img src="/assets/img/1200px-Gmail_Icon.svg.png"
                                style="width: 30px;margin-right: 5px;"><a href="#">shopwheydn@gmail.com</a></li>
                        <li class="d-xl-flex align-items-xl-center"><img src="/assets/img/unnamed%20(1).png"
                                style="width: 30px;margin-right: 5px;"><a href="#">Shop Whey Đà Nẵng</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Mua Hàng tại shop</h3>
                    <ul>
                        <li><a href="#">100% hàng chính hãng</a></li>
                        <li><a href="#">Chúng tôi là chuyên gia dinh dưỡng, tư vấn về chế độ tập luyện, chế độ dinh
                                dưỡng và cách sử dụng sản phẩm để đạt hiệu quả tốt nhất</a></li>
                        <li><a href="#">Uy tín, nhiệt tình, niềm nở với khách hàng</a></li>
                        <li><a href="#">Giá cả phải chăng, hợp lí</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3><strong>Shop Whey Đà Nẵng</strong></h3>
                    <p>Chuỗi cửa hàng cung cấp thực phẩm bổ sung, dinh dưỡng thể thao: Whey protein, Mass Gainer, Bcaas,
                        Amino... Uy tín, lâu năm số 1 Việt Nam.</p>
                    <hr>
                    <p>113 Phan Châu Trinh, Phước Ninh, Hải Châu, Đà Nẵng |&nbsp;0905 586 577 - 0773 502 200</p>
                    <hr>
                    <p><i class="fa fa-clock-o"></i>&nbsp;Mở cửa 8:00 đến 21:00 hằng ngày</p>
                </div>
            </div>
            <p class="copyright">Coppyright © 2016</p>
        </div>
    </footer>
</div>