<head>
    <meta charset="utf-8">
    <title>Shop Whey Đà Nẵng | Dinh Dưỡng Thể Thao</title>
    <meta name="twitter:description"
        content="113 Phan Châu Trinh, Phước Ninh, Hải Châu, Đà Nẵng | 0905 586 577 - 0773 502 200 | Uy tín, giá cả phải chăng, hợp lí">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta name="description"
        content="113 Phan Châu Trinh, Phước Ninh, Hải Châu, Đà Nẵng | 0905 586 577 - 0773 502 200 | Uy tín, giá cả phải chăng, hợp lí">
    <meta property="og:image" content="/assets/img/66179706_1248541415313507_1963763673134530560_n.jpg">
    <meta name="twitter:image" content="/assets/img/66179706_1248541415313507_1963763673134530560_n.jpg">
    <meta name="twitter:title" content="Shop Whey Đà Nẵng | Dinh Dưỡng Thể Thao">
    <link rel="icon" type="image/png" sizes="1075x1075" href="/assets/img/shop-whey-da-nang.png">
    <link rel="icon" type="image/png" sizes="1075x1075" href="/assets/img/shop-whey-da-nang.png">
    <link rel="icon" type="image/png" sizes="1075x1075" href="/assets/img/shop-whey-da-nang.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>