<nav class="navbar navbar-light navbar-expand-md sticky-top d-lg-flex justify-content-lg-center align-items-lg-center"
    style="padding: 0px;background-color: #333333;">
    <div class="container-fluid">
        <div class="container-fluid text-center d-lg-flex justify-content-lg-center align-items-lg-center">
            <a class="bounce animated infinite"
                style="line-height: 15px; padding: 0px;background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 800;"
                href="/"><br><strong><span
                        style="text-decoration: underline;">Shopwheydanang.com</span>&nbsp;|&nbsp;0905 586 577 - 0773
                    502 200 - 113 Phan Châu Trinh, Phước Ninh, Hải Châu, Đà Nẵng</strong><br><br></a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="padding: 0;">
    <div class="container">
        <a class="navbar-brand" href="/" style="padding: 0;"><img src="/assets/img/shop-whey-da-nang.png"
                style="padding: 10px;width: 60px;"></a><button data-toggle="collapse" class="navbar-toggler"
            data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1" style="margin: 5px;">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="/">Danh Sách
                        Sản Phẩm&nbsp;</a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" href="/danh-muc/tang-co-giam-mo">
                            Phát Triển Cơ - Whey Protein</a>
                        <a class="dropdown-item" role="presentation" href="/danh-muc/tang-can-tang-co">
                            Sữa Tăng Cân - Mass Giainer</a>
                        <a class="dropdown-item" role="presentation" href="/danh-muc/tang-suc-manh">
                            Tăng Sức Mạnh - Prework-out</a>
                        <a class="dropdown-item" role="presentation" href="/danh-muc/dot-mo">
                            Giảm Cân, Đốt Mỡ</a>
                        <a class="dropdown-item" role="presentation" href="/danh-muc/phuc-hoi-co,-bo-khop,-amino">
                            Amino, Bcaa, Bổ khớp</a>
                        <a class="dropdown-item" role="presentation" href="/danh-muc/vitamin,-khoang-chat,-hormone">
                            Vitamin, Khoáng Chất, Tăng Hormone</a>
                        <a class="dropdown-item" role="presentation" href="/danh-muc/thuc-pham-an-kieng">
                            Thực Phẩm Ăn Kiêng - Clean Eat</a>
                        <a class="dropdown-item" role="presentation" href="/danh-muc/phu-kien:-ao,-balo,-shaker...">
                            Phụ Kiện...</a>
                    </div>
                </li>
            </ul>
            <div class="d-xl-flex align-items-xl-center"><label for="search-field" style="margin: auto;"><i
                        class="fa fa-search"></i></label></div>
            <li class="dropdown" style="color: white;width: 0px; height: 0px;">
                <div class="dropdown-toggle" id='search-menu' data-toggle="dropdown" aria-expanded="false" href="#"
                    style="color: transparent;">
                </div>
                <div class="dropdown-menu" style="margin-top:35px;" role="menu" id="search-item">
                </div>
            </li>
            <form action="/search" class="form-inline mr-auto" target="_self" style="width: 100%;">
                <div class="form-group" style="width: 100%;padding-right: 15px;padding-left: 15px;"><input
                        class="border rounded form-control search-field" type="search" id="search-field" name="search"
                        placeholder="Tìm kiếm sản phẩm"
                        style="width: 100%;margin-right: 15;margin-left: 15;padding-bottom: 0;padding-top: 0;height: 35px;">
                </div>
            </form>
            <a class="text-nowrap" href="/cart">
                <i class="fa fa-shopping-cart">

                </i>&nbsp;Giỏ Hàng &nbsp;<span class="badge badge-primary" id="total-items">0</span>&nbsp;</a>
        </div>
    </div>
</nav>