<div class="container-fluid">
    <div class="header ">
        <div class="top d-flex justify-content-start">
            <div class="logo-image">
                <a href="#">
                    <img src="https://via.placeholder.com/300x65.png" alt="">
                </a>
            </div>
            <div class="select-language ml-auto">
                <img src="https://via.placeholder.com/16x16.png" alt="">
                <div class="btn-group" role="group" aria-label="">
                    <div class="btn-group" role="group">
                        <button id="dropdownId" type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VN
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Vietnamese</a>
                            <a class="dropdown-item" href="#">English</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact d-flex">
                <p class="Hotline mr-3">
                    <a href="#">Liên Hệ 0905.586.577 - 0773.502.200</a>
                </p>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light ">
            <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i>TRANG CHỦ</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="dropdownId" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">&#124 Danh Sách Sản Phẩm</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Phát Triển Cơ - Whey Protein</a>
                            <a class="dropdown-item" href="#">Sữa Tăng Cân- Mass Giainer</a>
                            <a class="dropdown-item" href="#">Tăng Sức Mạnh- Prework-out</a>
                            <a class="dropdown-item" href="#">Giảm Cân,Đốt Mỡ</a>
                            <a class="dropdown-item" href="#">Amino, Bcaa, Bổ Khớp</a>
                            <a class="dropdown-item" href="#">Vitamin, Khoáng Chất, Tăng Hormone</a>
                            <a class="dropdown-item" href="#">Thực Phẩm Ăn Kiêng - Clean Eat</a>
                            <a class="dropdown-item" href="#">Phụ Kiện..</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">&#124 Check hàng giả</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">&#124 Chính sách đại lý</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 mx-auto round-5">
                    <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm sản phẩm">
                    <button class="btn my-2 my-sm-0" type="submit"><i class="fa fa-search"
                            aria-hidden="true"></i></button>
                </form>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="show-wrap d-flex">
        <div class="slide-product col-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active circle"></li>
                    <li data-target="#demo" data-slide-to="1" class="circle"></li>
                    <li data-target="#demo" data-slide-to="2" class="circle"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://via.placeholder.com/704x304.png" alt="Los Angeles">
                    </div>
                    <div class="carousel-item">
                        <img src="https://via.placeholder.com/704x304.png" alt="Chicago">
                    </div>
                    <div class="carousel-item">
                        <img src="https://via.placeholder.com/704x304.png" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="img-reallize col-4 col-sm-4 col-md-4 col-xl-4 col-lg-4">
            <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/66179706_1248541415313507_1963763673134530560_n.jpg?_nc_cat=103&_nc_eui2=AeGfXI8Dm08m8s64SzxWoaopmklUsFEcAWdDhWC8r53kwBxQSneQJSa1n0nUF3YNYM8PpcUzfeeUKiXowEqSyf3zuCSTY5NYsD6CnPoaPyIX8A&_nc_oc=AQm6v-OVzpRfb7-k3As_CyGMEp5AURmcCyKlZBKrCLBSOyBbBWPDd8PksZKE4uv0fdYY7Fts7PHVPs0YYQat2zCN&_nc_ht=scontent.fdad3-1.fna&oh=57a4cf7eb09cb2964f64346599ed323f&oe=5DB757EE" alt="" >
        </div>

    </div>
</div>