<div class="col-md-6 col-lg-4 p-2">
    <a href="/">
        <div class="bg-dark p-3"><img class="w-100" src="assets/img/9693dd08d0b6467daa3db1d6034b0bd1.jpg">
            <div class="productBasis">
                <p class="text-center p-0 m-0 text-myColor">Rule 1</p>
                <h6 class="text-center text-white">1.250.000</h6>
                <h6 class="text-center text-secondary oldPrice">
                    1.250.000</h6>
            </div>
        </div>
    </a>
</div>