<div class="container">
    <div class="row ">
        <div class="central-content col-xl-12 col-md-12 col-sm-12 col-lg-12 col-12">
            <div class="wrapper">
                <h3>Sản phẩm bán mới</h3>
                <div class="jcarousel-wrapper">
                    <div class="jcarousel" data-jcarousel="true">
                        <ul style="left: -151px; top: 0px;">
                            <li>
                                <img src="/assets/img/2.jpg" alt="" class="Image 1">
                            </li>
                            <li>
                                <img src="/assets/img/2.jpg" alt="" class="Image 2">
                            </li>
                            <li>
                                <img src="/assets/img/2.jpg" alt="" class="Image 3">
                            </li>
                            <li>
                                <img src="/assets/img/2.jpg" alt="" class="Image 4">
                            </li>
                            <li>
                                <img src="/assets/img/2.jpg" alt="" class="Image 5">
                            </li>
                            <li>
                                <img src="/assets/img/2.jpg" alt="" class="Image 6">
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">&lsaquo;</a>
                    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">&rsaquo;</a>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="top">
                <div class="image">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="productname">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="price">
                        950,000 đ
                    </div>
                    <div class="buy">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="information">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>