<div class=" row">
    <div class="sanpham col-xl-4 col-md-4 col-sm-4 col-lg-4 col-2 ">
        <div class="tren">
            <div class="anh">
                <img src="/assets/img/2.jpg" alt="" class="layer1">
                <img src="/assets/img/1.jpg" alt="" class="layer2">
                <div class="congcu">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-undo-alt"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
            <div class="phai">
                <div class="mauxanh"></div>
                <div class="mauxanh"></div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-4 col-sm-4 col-lg-4 col-2">
        <div class="tren">
            <div class="anh">
                <img src="/assets/img/2.jpg" alt="" class="layer1">
                <img src="/assets/img/1.jpg" alt="" class="layer2">
                <div class="congcu">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-undo-alt"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
            <div class="phai">
                <div class="mauxanh"></div>
                <div class="mauxanh"></div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-4 col-sm-4 col-lg-4 col-2">
        <div class="tren">
            <div class="anh">
                <img src="/assets/img/2.jpg" alt="" class="layer1">
                <img src="/assets/img/1.jpg" alt="" class="layer2">
                <div class="congcu">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-undo-alt"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
            <div class="phai">
                <div class="mauxanh"></div>
                <div class="mauxanh"></div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-4 col-sm-4 col-lg-4 col-2">
        <div class="tren">
            <div class="anh">
                <img src="/assets/img/2.jpg" alt="" class="layer1">
                <img src="/assets/img/1.jpg" alt="" class="layer2">
                <div class="congcu">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-undo-alt"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
            <div class="phai">
                <div class="mauxanh"></div>
                <div class="mauxanh"></div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-4 col-sm-4 col-lg-4 col-2">
        <div class="tren">
            <div class="anh">
                <img src="/assets/img/2.jpg" alt="" class="layer1">
                <img src="/assets/img/1.jpg" alt="" class="layer2">
                <div class="congcu">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-undo-alt"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
            <div class="phai">
                <div class="mauxanh"></div>
                <div class="mauxanh"></div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-4 col-sm-4 col-lg-4 col-2">
        <div class="tren">
            <div class="anh">
                <img src="/assets/img/2.jpg" alt="" class="layer1">
                <img src="/assets/img/1.jpg" alt="" class="layer2">
                <div class="congcu">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-undo-alt"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
            <div class="phai">
                <div class="mauxanh"></div>
                <div class="mauxanh"></div>
            </div>
        </div>
    </div>

</div>