<div class="container">
    <div class="row display-2">
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="/assets/img/2.jpg" alt="" class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/816nZzmF6NL._SY450_.jpg" alt="" class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/2099664d7dd840a499442bb61382888b.jpeg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/89540ba82e06450db0d3d9ac29e184e9.png" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sanpham col-xl-3 col-md-6 col-sm-6 col-lg-4 col-12">
            <div class="tren">
                <div class="anh">
                    <img src="https://www.shopwheydanang.com/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg" alt=""
                        class="layer1">
                </div>
                <h3 class="tensanpham">
                    AST VP2 - Chocolate
                </h3>
            </div>
            <div class="duoi">
                <div class="trai">
                    <div class="gia">
                        950,000 đ
                    </div>
                    <div class="mua">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ban">Còn 17 sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>