<div class="row">
    <div class="sanpham col-xl-4 col-md-2 col-sm-1 col-lg-4 col-1 ">
        <div class="tren">
            <div class="anh">
                <img src="/assets/img/2.jpg" alt="" class="layer1">
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-2 col-sm-1 col-lg-4 col-1 ">
        <div class="tren">
            <div class="anh">
                <img src="/assets/img/2.jpg" alt="" class="layer1">
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-2 col-sm-1 col-lg-4 col-1 ">
        <div class="tren">
            <div class="anh">
                <img src="/assets/img/2.jpg" alt="" class="layer1">
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-2 col-sm-1 col-lg-4 col-1 ">
        <div class="tren">
            <div class="anh">
                <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                    class="layer1">
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-2 col-sm-1 col-lg-4 col-1 ">
        <div class="tren">
            <div class="anh">
                <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                    class="layer1">
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>

        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-2 col-sm-1 col-lg-4 col-1 ">
        <div class="tren">
            <div class="anh">
                <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                    class="layer1">
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-2 col-sm-1 col-lg-4 col-1 ">
        <div class="tren">
            <div class="anh">
                <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                    class="layer1">
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-2 col-sm-1 col-lg-4 col-1 ">
        <div class="tren">
            <div class="anh">
                <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                    class="layer1">
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sanpham col-xl-4 col-md-2 col-sm-1 col-lg-4 col-1 ">
        <div class="tren">
            <div class="anh">
                <img src="https://www.shopwheydanang.com/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" alt=""
                    class="layer1">
            </div>
            <h3 class="tensanpham">
                AST VP2 - Chocolate
            </h3>
        </div>
        <div class="duoi">
            <div class="trai">
                <div class="gia">
                    950,000 đ
                </div>
                <div class="mua">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ban">Còn 17 sản phẩm</span>
                </div>
            </div>
        </div>
    </div>
</div>