/* Site news */
.site-news li {
	padding: 2px 0 3px 0;
}
.site-news li strong {
	font: bold 85% Tahoma;
	display: block;
	padding-bottom: 1px;
}
/* /Site news */

/* Fix position for Add email field */
.subscribe_form.form-field {
	padding: 0;
}