/* HOME */

.price-box {
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
}

.btn-0 {
    width: 100%;
    border-radius: 5px;
    padding: 7px;
}

.btn-1 {
    border-radius: 5px;
    padding: 7px;
}

.btn-2 {
    width: 100%;
    margin: none;
    border-radius: 0px 0px 15px 15px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    color: #1a73e8;
    font-weight: 600;
}

.btn-2:hover {
    background: rgba(0, 0, 0, 0.03);
    color: #1a73e8;
}

.btn-3 {
    width: 100%;
    margin: none;
    border-radius: 0px 0px 0px 0px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    color: #1a73e8;
    font-weight: 600;
}

.btn-3:hover {
    background: rgba(0, 0, 0, 0.03);
    color: #1a73e8;
}

textarea {
    width: 100%;
    padding: 5px;
    min-height: 167.719px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0px;
}

/* INPUT FIELD */

/* ADMIN */

.box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
}

.box-0 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 0 0px;
    padding: 15px;
    margin-bottom: 0px;
    margin-top: 15px;
}
*{margin:0;padding:0; }
.container {
    padding: 0px 0px;
}
a {
    color: #020202;
    text-decoration: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
a:hover{
    text-decoration: none;
    color: orange;
}
button#dropdownId {
    font-size: 12px;
    padding: 0px 13px;
    color: gray;
    font-weight: 700;
}
p.mr-2.text-dark {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px;
}
.cart.d-flex.justify-content-end.mx-auto.align-content-center {
    display: block;
    width: 273.45px;
    height: 24px;
}
a.navbar-brand {
    font-size: 14px;
    font-weight: 700;
}
a.nav-link.text-dark {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: gray;
}
i.fa.fa-home {
    font-size: 20px;
}
nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    border: 2px solid #00000057;
    box-shadow: 3px 3px 5px;
}
.show-wrap.d-flex {
    margin-top: 10px;
}
.slide-product {
    display: block;
    height: 100%;
    width: 100%;
}
.img-reallize {
    height: 304px;
    width: 380px;
    display: block;
    overflow: hidden;
}
.img-reallize img {
    width: 100%;
    height: 100%;
}
}
li.circle {
    display: block;
    height: 11px;
    width: 11px;
    border-radius: 50%;
}
carousel-inner {
    position: relative;
    width: 865px;
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px){
 .Hotline a{
        font-size: 12px;
        line-height: 0px;
    }
}
.sanpham{
    width: 264px;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.anh{
    width: 264px;
    height: 335px;
    position: relative;
}

.sanpham .layer1{
    width: 262px;
    height: 335px;
    z-index: 1;
    left: 0;
    top: 0;
    position: absolute;
}
.sanpham .layer2{
    width: 264px;
    height: 335px;
    z-index: 2;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.tren{
    width: 264px;
    height: 360px;
}
.tren .congcu{
    display: flex;
    z-index: 2;
    position: absolute;
    flex-direction: column;
    top:10px;
    right: 5px;
    opacity: 0;
    transition: 0.4s;
}
.congcu i{
    font-size: 20px;
    padding: 5px;
}
.sanpham:hover .layer2{
    opacity: 1;
}
.sanpham:hover .congcu{
    opacity: 1;
}
.tren h3{
    border-bottom: 1px solid gray;
    font-size: 17px;
    font-weight: bolder;
    display: inline-block;
}
.duoi .trai .gia{
    width: 180px;
    top: 0px;
    left: 0px;
    z-index: 1;
    position: absolute;
    color: gray;
    font-size: 14px;
    transition: 0.4s;
}
.duoi .trai .mua{
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 2;
    transition: 0.4s;
    font-size: 14px;
    opacity: 0;
    color: gray;
}
.duoi .trai{
    position: relative;
    width: 180px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.sanpham:hover .duoi .trai .gia{
    top:-20px;
    opacity: 0;
}
.sanpham:hover .duoi .trai .mua{
    top:-5px;
    opacity: 1;
}