/* HOME */

.price-box {
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
}

.btn-0 {
    width: 100%;
    border-radius: 5px;
    padding: 7px;
}

.btn-1 {
    border-radius: 5px;
    padding: 7px;
}

.btn-2 {
    width: 100%;
    margin: none;
    border-radius: 0px 0px 15px 15px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    color: #1a73e8;
    font-weight: 600;
}

.btn-2:hover {
    background: rgba(0, 0, 0, 0.03);
    color: #1a73e8;
}

.btn-3 {
    width: 100%;
    margin: none;
    border-radius: 0px 0px 0px 0px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    color: #1a73e8;
    font-weight: 600;
}

.btn-3:hover {
    background: rgba(0, 0, 0, 0.03);
    color: #1a73e8;
}

textarea {
    width: 100%;
    padding: 5px;
    min-height: 167.719px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0px;
}

/* INPUT FIELD */

/* ADMIN */

.box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
}

.box-0 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 0 0px;
    padding: 15px;
    margin-bottom: 0px;
    margin-top: 15px;
}