.priceArea {
    min-height: 50px !important;
}

a:hover {
    text-decoration: none !important;
}

.moreImage {
    cursor: pointer;
}

.duration {
    transition: background 500ms;
}

hr {
    border-color: var(--myColor)
}