<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body id="page-top">
    <div id="wrapper">
        <% include ../partials/nav %>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../partials/navx.ejs %>

                <div class="container">
                    <section>
                        <div>
                            <h1 class="text-primary">Trang Chủ</h1>
                        </div>
                        <div class="row">
                            <%setting.banner.forEach( bn => {
                                var multiple = ''
                                if (bn.type == 'slider') multiple = 'multiple="multiple"'  
                                var name = ''
                                var content = ''
                                var images = new Array
                                if (bn.name) name = bn.name  

                                if (bn.content) content = bn.content
                                banners.forEach(banner => {
                                    if (banner.name == bn.name) {
                                        images = banner.images
                                    }
                                })  
                               
                            %>
                            <div class="col-sm-12 col-md-6 mb-4 px-2">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="text-primary font-weight-bold m-0"><%=content%></h6>
                                    </div>
                                    <div class="card-body">

                                        <form class="d-none d-sm-inline-block mr-auto w-100 mb-3"
                                            enctype="multipart/form-data" action="/ad/uploadBanner/<%=name%>"
                                            method="post">
                                            <div class="input-group">
                                                <input type="file" name="upload" required="required"
                                                    class="form-control border-0 small py-auto" <%=multiple%>>
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary py-0" type="submit"><i
                                                            class="fas fa-cloud-upload-alt"></i>&nbsp;Cập
                                                        Nhật</button>
                                                </div>
                                            </div>
                                        </form>

                                        <hr>
                                        <%images.forEach(img=>{
                                        %>
                                        <img class="w-100 mb-4" src="<%=setting.storeUri + img%>">
                                        <%
                                    })%>

                                    </div>
                                </div>
                            </div>

                            <%
                                })%>

                        </div>
                    </section>
                </div>
            </div>
            <% include ../partials/footer%>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
 
</body>

</html>