<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 m-auto">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center"><img class="mb-4 w-25" src="/ad/assets/img/shopwheydanang.png">
                                <h4 class="text-danger mb-4">Bạn Chưa Đăng Nhập</h4>
                            </div>
                            <a href="/ad/login" class="btn btn-primary btn-block text-white btn-user">Đăng
                                Nhập Để Tiếp Tục</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Loa Loa Media 2019</span></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>