<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 m-auto">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center"><img class="mb-4 w-25" src="/ad/assets/img/shopwheydanang.png">
                                <h4 class="text-dark mb-4">Quản Trị Website</h4>
                            </div>
                            <form class="user" action="/ad/login" method="post">
                                <div class="form-group">
                                    <input class="form-control form-control-sm form-control-user mb-4"
                                        id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Tên Đăng Nhập"
                                        name="user">
                                    <input class="form-control form-control-user" type="password"
                                        id="exampleInputPassword" placeholder="Mật Khẩu" name="password"></div><button
                                    class="btn btn-primary btn-block text-white btn-user" type="submit">Đăng
                                    Nhập</button>
                                <% if (message && message[0]) {%>
                                <hr />
                                <p class="text-danger"><%=message[0]%></p>
                                <%}%>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class=my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Loa Loa Media 2019</span></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>