<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body id="page-top">
    <div id="wrapper">
        <% include ../partials/nav %>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../partials/navx.ejs %>

                <div class="container-fluid">
                    <section>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-8">
                                <div class="row">
                                    <div class="col">
                                        <div class="card shadow my-2">
                                            <div class="card-header py-3">
                                                <p class="text-primary m-0 font-weight-bold">Danh Sách Sản Phẩm<br></p>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                                    aria-describedby="dataTable_info">
                                                    <table class="table dataTable my-0" id="dataTable">
                                                        <tbody>
                                                            <tr>
                                                                <td>BSN Syntha 6 EDGE 4 Lb</td>
                                                                <td>1.300.000</td>
                                                                <td>1200.000</td>
                                                                <td><a href="#"><i class="fa fa-pencil"></i></a><a
                                                                        class="text-danger ml-5" href="#"><i
                                                                            class="fa fa-trash-o"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="row">
                                    <div class="col">
                                        <form method="get" enctype="multipart/form-data" action="ad/saveProduct">
                                            <div class="card shadow my-2">
                                                <div
                                                    class="card-header d-flex justify-content-between align-items-center">
                                                    <p class="m-0 font-weight-bold text-primary">Thêm Sản Phẩm</p>
                                                    <div class="form-row">
                                                        <div class="col-auto"><button
                                                                class="btn btn-primary btn-sm my-1" type="submit"><i
                                                                    class="fa fa-save"></i>&nbsp;Lưu &amp; Tiếp
                                                                Tục</button></div>
                                                    </div>
                                                </div>
                                                <div class="card-body"><input
                                                        class="form-control form-control border-0 small bg-light mb-3"
                                                        type="text" placeholder="Tên sản phẩm" name="name"><input
                                                        class="form-control form-control border-0 small bg-light mb-3"
                                                        type="number" placeholder="Giá" name="price"><input
                                                        class="form-control form-control border-0 small bg-light mb-3"
                                                        type="number" placeholder="Giá ưu đãi" name="sale">
                                                    <p class="font-weight-bold text-primary">Chọn hình ảnh</p><input
                                                        type="file" name="upload">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Loa Loa Media 2019</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>