<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top d-lg-flex justify-content-lg-center align-items-lg-center" style="padding: 0;background-color: #333333;">
        <div class="container-fluid">
            <div class="container-fluid text-center d-lg-flex justify-content-lg-center align-items-lg-center">
                <a class="bounce animated infinite" style="background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 800;" href="/"><br><strong><span style="text-decoration: underline;">Shopwheydanang.com</span>&nbsp;|&nbsp;0905 586 577 - 01223 502 200 - 540 Điện Biên Phủ, Đà Nẵng</strong><br><br></a>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="padding: 0;">
        <div class="container">
            <a class="navbar-brand" href="/" style="padding: 0;"><img src="/assets/img/shop-whey-da-nang.png" width="60px" style="padding: 10px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="margin: 5px;">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="/">Danh Sách Sản Phẩm&nbsp;</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/danh-muc/phu-kien:-ao,-balo,-shaker...">Phụ kiện: áo, balo, shaker...</a><a class="dropdown-item" role="presentation" href="/danh-muc/tang-can-tang-co">Tăng cân tăng cơ</a><a class="dropdown-item"
                                role="presentation" href="/danh-muc/vitamin-khoang-chat/hormone">Vitamin, khoáng chất, hormone</a><a class="dropdown-item" role="presentation" href="/danh-muc/dot-mo">Đốt mỡ</a><a class="dropdown-item" role="presentation" href="/danh-muc/tang-suc-manh">Tăng sức mạnh</a>
                            <a class="dropdown-item" role="presentation" href="/danh-muc/phuc-hoi-co,-bo-khop,-amino">Phục hồi cơ, bổ khớp, amino</a><a class="dropdown-item" role="presentation" href="/danh-muc/tang-co-giam-mo">Tăng cơ giãm mỡ</a><a class="dropdown-item"
                                role="presentation" href="/danh-muc/thuc-pham-an-kieng">Thực phẩm ăn kiêng</a></div>
                    </li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label>
                        <li class="dropdown" style="color: white;width: 0;">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color: white;"></a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="#">
                                    <div class="d-lg-flex align-items-lg-center">
                                        <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="min-width: 100px;"><img src="/assets/img/58444566_2470705639660677_7726456808985853952_n-1.jpg" style="max-height: 100px;"></div>
                                        <div style="padding-left: 15px;">
                                            <h6>sdafdfsdfsdfsdfsdfsdfsdfsdfsdf</h6>
                                            <h5 class="text-primary">Heading</h5>
                                            <h6 class="d-lg-flex align-items-lg-center" style="background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 800;">Conf</h6>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider" role="presentation"></div>
                            </div>
                        </li><input class="form-control search-field" type="search" id="search-field" name="search" placeholder="Tìm kiếm sản phẩm"></div>
                </form><a class="text-nowrap" href="/cart"><i class="fa fa-shopping-cart"></i>&nbsp;Giỏ Hàng &nbsp;<span class="badge badge-primary">0</span>&nbsp;</a></div>
        </div>
    </nav>
    <div class="container"><img style="width: 100%;" src="/assets/img/09b33c108dbb433ba478ae734ead6536.jpg"></div>
    <div data-aos="" style="text-align:center;">
        <h2 class="divider-style" style="margin-bottom: 60px;"><span>Sản Phẩm Được Khuyến Mãi</span></h2>
    </div>
    <div class="container d-flex justify-content-center justify-content-sm-center" data-aos="fade-up" style="margin-bottom: 40px;">
        <div class="row d-flex justify-content-center" style="width: 100%;">
            <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-sm-center align-items-sm-start justify-content-md-center align-items-md-start justify-content-lg-center align-items-lg-start" style="padding: 15px;">
                <a href="#">
                    <div style="max-width: 200.5px;">
                        <div class="d-sm-flex d-md-flex d-xl-flex justify-content-sm-center justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center" style="max-height: 230px;"><img src="/assets/img/d18ce793a659afdce58d6e58a6fdaa49-1-1.jpg" style="width: auto;max-width: 200.5px;"></div>
                        <div class="text-center border rounded-0">
                            <h5>Fish oil<br></h5>
                            <h3>300,000 ₫</h3>
                            <hr>
                            <h6 class="text-center d-lg-flex align-items-lg-center justify-content-xl-center" style="margin: 5px;background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;/*font-weight: 800;*/">Còn 12 Sản Phẩm</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-right">
                    <a href="#">
                        <h6>&nbsp;<i class="fa fa-arrow-left"></i>&nbsp;Trang Trước</h6>
                    </a>
                </div>
                <div class="col-md-6 text-left">
                    <a href="#">
                        <h6>Trang Sau&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="flash-sale">
        <section data-aos="" class="countdown-section" style="margin-top: 60px;">
            <div class="container">
                <div class="row big-countdown" data-countdown="02/27/2020 02:51:00">
                    <div class="col countdown-header">
                        <h1>Flash Sale&nbsp;<i class="fa fa-flash"></i></h1>
                        <p>Instructions for boxed and inline countdown <a style="color:#fff; text-decoration:underline;" href="http://imagia-mu.com/DEV/BS/countdown" target="_blank">here</a></p>
                    </div>
                    <div class="col-6 col-sm-3"><span class="number-hours">00</span><span class="txt-countdown">hours </span></div>
                    <div class="col-6 col-sm-3"><span class="number-minutes">00</span><span class="txt-countdown">minutes </span></div>
                    <div class="col-6 col-sm-3"><span class="number-seconds">00</span><span class="txt-countdown">seconds </span></div>
                </div>
            </div>
        </section>
        <div class="container d-flex justify-content-center justify-content-sm-center" data-aos="fade-up" style="margin-top: -40px;">
            <div class="row d-flex justify-content-center" style="width: 100%;">
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-sm-center align-items-sm-start justify-content-md-center align-items-md-start justify-content-lg-center align-items-lg-start" style="padding: 15px;">
                    <a href="#">
                        <div style="max-width: 200.5px;">
                            <div class="d-sm-flex d-md-flex d-xl-flex justify-content-sm-center justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center" style="max-height: 230px;"><img src="/assets/img/d18ce793a659afdce58d6e58a6fdaa49-1-1.jpg" style="width: auto;max-width: 200.5px;"></div>
                            <div class="text-center border rounded-0">
                                <h5>Fish oil<br></h5>
                                <h3 style="font-size: 16px;">300,000 ₫</h3>
                                <h3 style="font-size: 20px;">300,000 ₫</h3>
                                <hr>
                                <h6 class="text-center d-lg-flex align-items-lg-center justify-content-xl-center" style="margin: 5px;background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 800;font-size: 16px;">Còn 12 Sản Phẩm</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="top-sale">
        <div class="container" data-aos="-out">
            <div style="text-align:center;">
                <h2 class="divider-style" style="margin-bottom: 60px;"><span>SẢN PHẨM ƯA CHUỘNG<br></span></h2>
            </div>
        </div>
        <div class="container d-flex justify-content-center justify-content-sm-center" data-aos="fade-up" style="margin-top: -40px;margin-bottom: 60px;">
            <div class="row d-flex justify-content-center" style="width: 100%;">
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-sm-center align-items-sm-start justify-content-md-center align-items-md-start justify-content-lg-center align-items-lg-start" style="padding: 15px;">
                    <a href="#">
                        <div style="max-width: 200.5px;">
                            <div class="d-sm-flex d-md-flex d-xl-flex justify-content-sm-center justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center" style="max-height: 230px;"><img src="/assets/img/d18ce793a659afdce58d6e58a6fdaa49-1-1.jpg" style="width: auto;max-width: 200.5px;"></div>
                            <div class="text-center border rounded-0">
                                <h5>Fish oil<br></h5>
                                <h5>300,000 ₫</h5>
                                <hr>
                                <h6 class="text-center d-lg-flex align-items-lg-center justify-content-xl-center" style="margin: 5px;background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 800;">Còn 12 Sản Phẩm</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="category">
        <div class="container" data-aos="-out">
            <div style="text-align:center;">
                <h2 class="divider-style" style="margin-bottom: 60px;"><span>DANH MỤC SẢN PHẨM<br></span></h2>
            </div>
        </div>
        <div class="container" data-aos="fade-up">
            <div class="row d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-lg-center align-items-lg-center justify-content-xl-center">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse" style="margin-bottom: 20px;margin-top: 20px;">
                            <a href="/danh-muc/phu-kien:-ao,-balo,-shaker...">
                                <div>
                                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                        style="height: 200px;"><img src="/assets/img/ao.jpeg" style="max-width: 134px;"></div>
                                    <hr>
                                    <div class="text-center d-xl-flex justify-content-xl-center align-items-xl-start" style="height: 50px;">
                                        <p class="text-center d-lg-flex align-items-lg-start" style="margin-bottom: 0;">Phụ kiện, áo, balo, shaker,...</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse" style="margin-bottom: 20px;margin-top: 20px;">
                            <a href="/danh-muc/tang-can-tang-co">
                                <div>
                                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                        style="height: 200px;"><img src="/assets/img/816nZzmF6NL._SY450_.jpg" style="max-width: 134px;"></div>
                                    <hr>
                                    <div class="text-center d-lg-flex d-xl-flex align-items-lg-start justify-content-xl-center align-items-xl-start" style="height: 50px;">
                                        <p class="text-center" style="margin-bottom: 0;">Tăng cân, tăng cơ,...</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse" style="margin-bottom: 20px;margin-top: 20px;">
                            <a href="/danh-muc/vitamin,-khoang-chat,-hormone">
                                <div>
                                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                        style="height: 200px;"><img src="/assets/img/b3ff3f9bfbe942c5b655556ccf23186f.jpeg" style="max-width: 134px;"></div>
                                    <hr>
                                    <div class="text-center d-lg-flex d-xl-flex align-items-lg-start justify-content-xl-center align-items-xl-start" style="height: 50px;">
                                        <p class="text-center" style="margin-bottom: 0;">Vitamin, khoáng chất, hormone,...</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse" style="margin-bottom: 20px;margin-top: 20px;">
                            <a href="/danh-muc/dot-mo">
                                <div>
                                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                        style="height: 200px;"><img src="/assets/img/c35ac28c49df4ea58c4c460f2228a8d6.jpeg" style="max-width: 134px;"></div>
                                    <hr>
                                    <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start" style="height: 50px;">
                                        <p class="text-center" style="margin-bottom: 0;">Đốt mỡ</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse" style="margin-bottom: 20px;margin-top: 20px;">
                            <a href="/danh-muc/tang-suc-manh">
                                <div>
                                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                        style="height: 200px;"><img src="/assets/img/cb49b0da641248de8aa210a268aca42c.png" style="max-width: 134px;"></div>
                                    <hr>
                                    <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start" style="height: 50px;">
                                        <p class="text-center" style="margin-bottom: 0;">Tăng sức mạnh</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse" style="margin-bottom: 20px;margin-top: 20px;">
                            <a href="/danh-muc/phuc-hoi-co,-bo-khop,-amino">
                                <div>
                                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                        style="height: 200px;"><img src="/assets/img/89540ba82e06450db0d3d9ac29e184e9.png" style="max-width: 134px;"></div>
                                    <hr>
                                    <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start" style="height: 50px;">
                                        <p class="text-center" style="margin-bottom: 0;">Phục hồi cơ, bổ khớp, amino,...</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse" style="margin-bottom: 20px;margin-top: 20px;">
                            <a href="/danh-muc/tang-co-giam-mo">
                                <div>
                                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                        style="height: 200px;"><img src="/assets/img/e7b436679e464ead92e785d46baab1ed.jpg" style="max-width: 134px;"></div>
                                    <hr>
                                    <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start" style="height: 50px;">
                                        <p class="text-center" style="margin-bottom: 0;">Tăng cân giảm mỡ</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-3" data-bs-hover-animate="pulse" style="margin-bottom: 20px;margin-top: 20px;">
                            <a href="/danh-muc/thuc-pham-an-kieng">
                                <div>
                                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                        style="height: 200px;"><img src="/assets/img/2099664d7dd840a499442bb61382888b.jpeg" style="max-width: 134px;"></div>
                                    <hr>
                                    <div class="text-center d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-start" style="height: 50px;">
                                        <p class="text-center" style="margin-bottom: 0;">Thực phẩm ăn kiêng</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col" style="padding: 0;">
                            <a href="/chien-dich-I"><img data-aos="slide-left" style="width: 100%;" src="/assets/img/07f986a4831a4caba07a4aa3fd5768fb.jpg"></a>
                            <a href="/chien-dich-II"><img data-aos="slide-left" data-aos-delay="200" style="width: 100%;" src="/assets/img/3521033cc00e415cb8a6c79517fe8209.jpg"></a>
                            <a href="/chien-dich-III"><img data-aos="slide-left" data-aos-delay="100" style="width: 100%;" src="/assets/img/09b33c108dbb433ba478ae734ead6536.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
        <% include ../partials/script.ejs %>
</body>

</html>