<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
        <% include ../partials/navbar %>

    <div class="container">
<img src="/assets/img/logo.png">
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>