.bg-dark {
    background-color: #272727 !important;
}

.bg-headcard {
    background-color: #14a76c !important;
}

.card {
    background: transparent;
    color: #14a76c;
    border: none
}

.card-header {
    background: transparent;
    border: none
}

.card-body {
    background: transparent !important;
}

a {
    color: #747474;
}

.nav-link {
    color: #14a76c !important;
}

a:hover {
    text-decoration: none;
    color: #14a76c;
}

h1, h2, h3, h4, h5 {
    color: #14a76c !important;
    margin: 0px !important;
}

.navbar {
    background: transparent !important;
}