<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © Loa Loa Media
                2019</span></div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    ! function (o) {
        "use strict";
        o("#sidebarToggle, #sidebarToggleTop").on("click", function (e) {
            o("body").toggleClass("sidebar-toggled"), o(".sidebar").toggleClass("toggled"), o(".sidebar").hasClass("toggled") && o(".sidebar .collapse").collapse("hide")
        }), o(window).resize(function () {
            o(window).width() < 768 && o(".sidebar .collapse").collapse("hide")
        }), o("body.fixed-nav .sidebar").on("mousewheel DOMMouseScroll wheel", function (e) {
            if (o(window).width() > 768) {
                var l = e.originalEvent,
                    t = l.wheelDelta || -l.detail;
                this.scrollTop += 30 * (t < 0 ? 1 : -1), e.preventDefault()
            }
        }), o(document).on("scroll", function () {
            o(this).scrollTop() > 100 ? o(".scroll-to-top").fadeIn() : o(".scroll-to-top").fadeOut()
        }), o(document).on("click", "a.scroll-to-top", function (e) {
            var l = o(this);
            o("html, body").stop().animate({
                scrollTop: o(l.attr("href")).offset().top
            }, 1e3, "easeInOutExpo"), e.preventDefault()
        })
    }(jQuery);
    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };



    var editor = new Object
    window.onload = function () {
        $('.custom-control-input').change(function () {
            var action = 'removeProductAttribute'
            if (this.checked == true) {
                action = 'saveProductAttribute'
            }
            var uri = `/ad/${action}/${this.getAttribute("productid")}/${this.getAttribute("name")}`
            $.post(uri, {
                name: this.getAttribute('content')
            }, (err, docs) => {
            },
                'json')
        })
        // First matching element will be used
        $('.btn-saveInf').each(function () {
            this.onclick = function () {
                var pointId = this.getAttribute('pointId')
                var name = this.getAttribute('name')
                var delta = editor[name].getContents()
                var uri = '/ad/saveProductInfomation/' + pointId + '/' + name
                console.log({
                    delta: delta.ops
                })
                $.post(
                    uri, {
                        delta: JSON.stringify(delta.ops)
                    }, (err, docs) => {
                        location.reload()
                    })
            }
        })
        $('.inf').each(function () {
            var name = this.getAttribute('name')

            var id = '#information-' + name
            editor[name] = new Quill(id, {
                modules: {
                    toolbar: [[{ 'header': [1, 2, 3, 4, 5, 6, false] }], [{ 'list': 'ordered' }, { 'list': 'bullet' }], ['bold', 'italic'], ['link', 'image']]
                },
                theme: 'snow'
            })
        })
    }
</script>