<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
    style="background-color: #547a82;background-image: url(&quot;none&quot;);">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon"><img src="/ad/assets/img/logo.png" style="max-width: 80px;"></div>
            <div class="sidebar-brand-text mx-3"><span>Quản Trị</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation">
                <a class="nav-link <%=active.product%>" href="/ad/product"><i class="fas fa-table"></i><span>Sản
                        Phẩm</span></a>
                <a class="nav-link <%=active.banner%>" href="/ad/banner"><i class="far fa-image"></i><span>Hình
                        Banner</span></a>
                <a class="nav-link <%=active.news%>" href="/ad/post"><i class="fas fa-pen-alt"></i><span>Bài Viết</span></a>

            </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
                type="button"></button></div>
    </div>
</nav>